.personalInfo {
    -fx-border-color: #32a57f;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.adressInfo {
    -fx-border-color: #32a57f;
    -fx-border-radius: 10;
    -fx-border-width: 2;

}

.facultyInfo {
    -fx-border-color: #32a57f;
    -fx-border-radius: 10;
    -fx-border-width: 2;

}

.anchor {
}