.topLabel {
    -fx-text-fill: #32a57f;
    -fx-font-style: italic;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 42;
}

#errorLabel {
    -fx-text-fill: #a53258;
}

#infoLabel {
    -fx-text-fill: #5b8198;
}

#labelDesc {
    -fx-text-fill:#f8f5f5 ;
    -fx-font-size: 16;
    -fx-font-family: "Times New Roman";
}

#labelMaterials {
    -fx-text-fill: white;
}