.mainPane {
    -fx-background-color:  #294f5f;
}

.rightPane {
    -fx-background-color: #2e3841;
}

.leftPane {
    -fx-background-color: #172d36;
}

.triviaBox {
    -fx-border-color: #32a57f;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}